[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=PulseAudio Session Management
Comment=Load module-x11-xsmp into PulseAudio
Exec=pactl load-module module-x11-xsmp
Terminal=false
Type=Application
Categories=
GenericName=
