once-test
usergroup-test
sigbus-test
TAGS
alsa-time-test
gtk-test
prioq-test
lock-autospawn-test
*.lo
*.o
*.la
.deps
.libs
Makefile
Makefile.in
asyncmsgq-test
asyncq-test
proximity-helper
channelmap-test
client.conf
close-test
cpulimit-test
cpulimit-test2
daemon.conf
default.pa
system.pa
envelope-test
esdcompat
flist-test
gconf-helper
get-binary-name-test
hook-list-test
interpol-test
ipacl-test
mainloop-test
mainloop-test-glib
mcalign-test
memblock-test
memblockq-test
mix-test
pabrowse
pacat
pacat-simple
pacmd
pactl
paplay
parec-simple
pasuspender
pax11publish
proplist-test
pulseaudio
queue-test
remix-test
resampler-test
rtpoll-test
rtstutter
sig2str-test
smoother-test
stripnul
strlist-test
sync-playback
thread-mainloop-test
thread-test
utf8-test
voltest
start-pulseaudio-x11
start-pulseaudio-kde
vector-test
